.acf-button-field .hidden{
  display: none;
}

.acf-button-field td{
  padding-right: 10px;
}

.acf-button-field label{
  padding-bottom: 5px;
  color: #999;
  display: block;
}

.acf-button-field .switch{
  margin-top: 20px;
  margin-bottom: 0;
}
